{
    "ignorePatterns": ["dist/", "node_modules/"],
    "root": true,
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": ["@evojs"],
    "extends": ["plugin:@evojs/ecmascript", "plugin:@evojs/react"],
    "parserOptions": {
        "ecmaVersion": 2021,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "strict": "off",
        "indent": [
            "warn",
            2,
            {
                "SwitchCase": 1,
                "FunctionDeclaration": { "parameters": "first" },
                "FunctionExpression": { "parameters": "first" }
            }
        ],
        "import/no-unresolved": "off"
    },
    "overrides": [
        {
            "files": ["**/*.{ts,tsx}"],
            "plugins": ["@evojs"],
            "extends": ["plugin:@evojs/typescript"],
            "parserOptions": {
                "project": "tsconfig.json",
                "sourceType": "module"
            },
            "rules": {
                "@typescript-eslint/indent": [
                    "warn",
                    4,
                    {
                        "SwitchCase": 1,
                        "FunctionDeclaration": { "parameters": "first" },
                        "FunctionExpression": { "parameters": "first" },
                        "ignoredNodes": [
                            "FunctionExpression > .params[decorators.length > 0]",
                            "FunctionExpression > .params > :matches(Decorator, :not(:first-child))",
                            "ClassBody.body > PropertyDefinition[decorators.length > 0] > .key"
                        ]
                    }
                ]
                // "no-restricted-imports": [
                //   "warn",
                //   {
                //     "paths": [".", "..", "../.."],
                //     "patterns": ["**/../utils", "**/../core"]
                //   }
                // ],
                // "react-hooks/exhaustive-deps": [
                //   "warn",
                //   {
                //     "additionalHooks": "(usePromise)"
                //   }
                // ]
            }
        }
    ],
    "settings": {
        "react": {
            "version": "18"
        }
    }
}
